@import "base/variables";

// foundation
@import 'base/foundation-settings';
@import "foundation";
@include foundation-everything;

// components
@import "components/greeter";
@import "components/navigation";
@import "components/textboxes";
@import "components/page-title";
@import "components/countdown";
@import "components/timer";
