// Used for all:
$Google-font: 'Quicksand', sans-serif;
$marginTop: 40px;
$center-text: center;
$white-text-color: white;

// Weather & Greeter
$font-size: 1.5rem;
$space-large: 2.5rem;
$title-color: #6666ff;
$nav-background: white;
$text-color: #6666ff;
$border-color: #6666ff;

// Clock
$clock-text-color: #6767ff;
$clock-bg-color: #e6e6ff;
$clock-border-color: #6666ff;

// Countdown
$countdown-button-color: #6666ff;
$countdown-text-color: #6666ff;
$countdown-text-hover-color: #1583cc;
$countdown-title-color: #6666ff;

// Timer
$timer-title-color: #6666ff;
$timer-text-hover-color: #1583cc;
$timer-button-color: #6666ff;
