
// FONTS:
$Google-font: 'Quicksand', sans-serif;
$font-size: 1.5rem;

// PADDINGS:
$space-large: 2.5rem;

// COLORS:
$title-color: #6666ff;
$nav-background: white;

// Clock
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;
