.clock-button{
    background-color: $countdown-button-color;
    font-family: $Google-font;
}

.countdown-form-text{
  color: $countdown-text-color;
  font-family: $Google-font;
}

.controls{
  display: flex;
  justify-content: center;

  .button{
    padding: .75rem 3rem;
  }

  .button:first-child{
    margin-right: 1.5rem;
  }
}
