.nav-text{
  font-family: $Google-font;
  font-size: $font-size;
}

.nav-button-text{
  font-family: $Google-font;
}

.nav-button-text:hover{
  color: $text-color;
  border-color: $border-color;
  background-color: #cdcdff;
}

.top-bar{
  background-color: $nav-background;

  ul{
    background-color: $nav-background;
  }
  .active-link{
    font-weight: bold;
    color: #6666ff;
  }
}
