.nav-text{
  font-family: $Google-font;
  font-size: $font-size;
}

.nav-button-text{
  font-family: $Google-font;
}

.top-bar{
  background-color: $nav-background;

  ul{
    background-color: $nav-background;
  }
  .active-link{
    font-weight: bold;
  }
}
